/* Colors Pallets
primary:  #000500
secundary: #fffbff
third: #362417
*/


/* Global styles 
------------------------------------*/

html, body {
  margin: 0;
  padding: 0;
  background: #000500;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}