/* Colors Pallets
primary  : #2a2723
secundary: #fffbff
third    : #382f2d
*/


/* Global styles 
------------------------------------*/

html, body {
  margin: 0;
  padding: 0;
  background: #2a2723;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}