.map-search-container {
    display: flex;
    background: #2a2723;

}

.map-search-locations.open {
    transform: translate(0, 0)
}

.map-search-location {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #fffbff;
    
}

.map-search-location:hover {
    background-color: #fffbff;
    color: #3d4543;
}

.map-search-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map-search-filter-title {
    color: #fffbff;
    padding: 5px;
    display: none;
}

.map-search-close-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    align-self: flex-end;
    display: none;
    background: #2a2723;
    color: #fffbff;
    border: 0;
    font-size: 18px;
}

.map-search-input {
    font-size: 16px;
    margin: 0 5px;
    width: 96%;
}

figure {
    margin: 0;
    max-width: 200px;
}

@media screen and (max-width:450px) {
    .map-search-locations {
        position: fixed;
        width: 80%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translate(-9999px, 0);
        background: #382f2d;
        z-index: 1;
    }
    .map-search-filter-title {
        display: inherit;
        
    }

    .map-search-input {
        margin-bottom: 5px;

    }
    .map-search-close-button {
        display: inherit;
    }
}